<div id="inicio" style="margin-top: 67px"
     class="uk-visible-toggle"
     tabindex="-1"
     uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000; min-height: 300; max-height: 100%">

    <div class="uk-slideshow-items">
        <!-- Slide 1 -->

        
        
        <div style="width: 100%; overflow: hidden;">
            <video class="video-mapa"
                autoplay
                muted
                loop
                playsinline
                id="promoVideo"
                
                poster="placeholder.jpg">
                <source src="https://marketing.host2africa.com/drive/acsaweb/mapaglobalacsa.mp4" type="video/mp4" />
                Seu navegador não suporta vídeo HTML5.
            </video>
        </div>

    </div>

    
</div>
