<div class="uk-container uk-margin-top">
  @if (noticias$ | async; as noticias) {
    <div class="uk-grid uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>
      @for (noticia of noticias; track noticia.id) {
        <div>
          <div class="uk-card uk-border-rounded uk-text-left card-noticia">

            <!-- Featured Image -->
            <div *ngIf="noticia.imageUrl" class="uk-card-media-top card-image-wrapper">
              <img [src]="noticia.imageUrl" alt="Imagem de destaque" />
            </div>

            <div class="card-content">
              <p class="uk-text-meta uk-margin-remove-top">
                {{ noticia.createdAt?.toDate() | date: 'dd/MM/yyyy ' }}
              </p>
              <a href="{{ noticia.noticiaUrl }}">
                <p class="uk-light">{{ noticia.title }}</p>
              </a>
              <div class="uk-child-width-expand@s" uk-grid>
                <div>
                  <p class="uk-text-left card-author">{{ noticia.author }}</p>
                </div>
                <div>
                  <a href="{{ noticia.noticiaUrl }}" target="_blank" class="card-readmore">
                    Ler Mais
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      }
    </div>
  } @else {
    <div class="uk-flex uk-flex-center uk-margin-large-top">
      <div uk-spinner></div>
    </div>
  }
</div>
