<!-- privacy-policy.component.html -->
<app-menu></app-menu>

<div class="fundo-cabecalho">
  <div class="gradiente-texto-cabecalho">
    <div class="conteudo-cabecalho uk-margin-medium-top">
      <div class="uk-container uk-margin-large-bottom">
        <h4 style="color:white">{{ 'company.name' | translate }}</h4>
        <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;">{{ 'customer.dueDiligence.policy.title' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <section class="privacy-section">
        <h2>{{ 'customer.dueDiligence.objective.title' | translate }}</h2>
        <p>{{ 'customer.dueDiligence.objective.paragraph1' | translate }}</p>
        <p>{{ 'customer.dueDiligence.objective.paragraph2' | translate }}</p>
    </section>

    <section class="privacy-section">
        <h2>{{ 'customer.dueDiligence.scope.title' | translate }}</h2>
        <p>{{ 'customer.dueDiligence.scope.paragraph1' | translate }}</p>
        <p>{{ 'customer.dueDiligence.scope.paragraph2' | translate }}</p>
        <p>{{ 'customer.dueDiligence.scope.paragraph3' | translate }}</p>
    </section>

    <footer>
        <p class="last-updated">{{ 'company.name' | translate }} - {{ 'customer.dueDiligence.policy.title' | translate }}</p>
    </footer>
</div>

<app-rodape></app-rodape>