<!-- privacy-policy.component.html -->
<app-menu></app-menu>

<div class="fundo-cabecalho">
  <div class="gradiente-texto-cabecalho">
    <div class="conteudo-cabecalho uk-margin-medium-top">
      <div class="uk-container uk-margin-large-bottom">
        <h4 style="color:white">{{ 'company.name' | translate }}</h4>
        <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;">{{ 'procurement.policy.title' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <section class="privacy-section">
        <h2>{{ 'procurement.objective.title' | translate }}</h2>
        <p>{{ 'procurement.objective.paragraph1' | translate }}</p>
        <ul>
            <li>{{ 'procurement.objective.itemA' | translate }}</li>
            <li>{{ 'procurement.objective.itemB' | translate }}</li>
            <li>{{ 'procurement.objective.itemC' | translate }}</li>
            <li>{{ 'procurement.objective.itemD' | translate }}</li>
            <li>{{ 'procurement.objective.itemE' | translate }}</li>
            <li>{{ 'procurement.objective.itemF' | translate }}</li>
            <li>{{ 'procurement.objective.itemG' | translate }}</li>
            <li>{{ 'procurement.objective.itemH' | translate }}</li>
            <li>{{ 'procurement.objective.itemI' | translate }}</li>
            <li>{{ 'procurement.objective.itemJ' | translate }}</li>
        </ul>
    </section>

    <section class="privacy-section">
        <h2>{{ 'procurement.scope.title' | translate }}</h2>
        <p>{{ 'procurement.scope.paragraph1' | translate }}</p>
        <p>{{ 'procurement.scope.paragraph2' | translate }}</p>
    </section>

    <section class="privacy-section">
        <h2>{{ 'procurement.supplierRelationship.title' | translate }}</h2>
        <p>{{ 'procurement.supplierRelationship.paragraph1' | translate }}</p>
        <p>{{ 'procurement.supplierRelationship.paragraph2' | translate }}</p>
        <p>{{ 'procurement.supplierRelationship.paragraph3' | translate }}</p>
        <ul>
            <li>{{ 'procurement.supplierRelationship.eixo1' | translate }}</li>
            <li>{{ 'procurement.supplierRelationship.eixo2' | translate }}</li>
        </ul>
    </section>

    <section class="privacy-section">
        <h2>{{ 'procurement.communicationChannel.title' | translate }}</h2>
        <p>{{ 'procurement.communicationChannel.paragraph1' | translate }}</p>
        <p>{{ 'procurement.communicationChannel.paragraph2' | translate }}</p>
    </section>

    <footer>
        <p class="last-updated">{{ 'company.name' | translate }} - {{ 'procurement.policy.title' | translate }}</p>
    </footer>
</div>

<app-rodape></app-rodape>