<div>
  <div class="tech-bg-single">
    <div class=" uk-container">



      <div class="uk-child-width-expand@s   uk-text-left uk-margin-large-top uk-margin-large-bottom " uk-grid>

        <!-- MRec Principal -->

        <div>
          <div class="uk-card">

            <div class=" ">
              <div class=" rounded-img  uk-visible-toggle uk-light" tabindex="-1"
                uk-slideshow="animation: push; autoplay: true; autoplay-interval: 3000; min-height: 300; max-height: 300">

                <div class=" fundo-slider rounded-img uk-margin-small-top uk-slideshow-items  ">

                  <div>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                      <img class="rounded-img" style="border-radius:20px" src="img/shieldsbg.png" alt="" uk-cover>
                    </div>
                    <div class="uk-padding uk-position-cover"
                      uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
                    </div>
                    <div class=" uk-padding uk-position-center-left uk-position-medium uk-text-left">
                      <img class="featured-service-logo" src=" img/shields2africa_logo.png" alt="Go4AI">

                      <div class="uk-margin-small-top " uk-slideshow-parallax="scale: 1,1,0.8">
                        <div class="" style="max-width: 80%">
                          <h2 class="ad-headline" uk-slideshow-parallax="x: 200,0,0"> <b> {{ "sec_title" | translate}}
                            </b>
                          </h2>

                        </div>

                        <div class="uk-margin-small-top">
                          <a target="_blank" routerLink="/product/shields2africa" class="uk-text-decoration-none  ">
                            <button class="cta-button ">
                              {{ 'saiba.mais' | translate }}
                            </button>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                      <img class="rounded-img" style="border-radius:20px" src="img/gpus.png " alt="" uk-cover>
                    </div>
                    <div class="uk-padding uk-position-cover"
                      uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
                    </div>
                    <div class=" uk-padding uk-position-center-left uk-position-medium uk-text-left">
                      <img class="featured-service-logo" src="img/go4aibrand-branco-assinatura.png  " alt="Go4AI">

                      <div class="uk-margin-small-top " uk-slideshow-parallax="scale: 1,1,0.8">
                        <div class="" style="max-width: 80%">
                          <h2 class="ad-headline " uk-slideshow-parallax="x: 200,0,0"> <b> {{"ai.infra" | translate}}
                            </b>
                          </h2>

                        </div>

                        <div class="uk-margin-small-top">
                          <a target="_blank" href="https://go4ai.io" class="uk-text-decoration-none  ">
                            <button class="cta-button ">
                              {{ 'saiba.mais' | translate }}
                            </button>
                          </a>

                        </div>

                      </div>
                    </div>
                  </div>


                  <div>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                      <img class="rounded-img" style="border-radius:20px" src="img/cloud-soberana.png" alt="" uk-cover>
                    </div>
                    <div class="uk-padding uk-position-cover"
                      uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
                    </div>
                    <div class=" uk-padding uk-position-center-left uk-position-medium uk-text-left">
                      <img class="featured-service-logo" src=" img/clouds-banner.png" alt="Go4AI">

                      <div class="uk-margin-small-top " uk-slideshow-parallax="scale: 1,1,0.8">
                        <div class="" style="max-width: 80%">
                          <h2 class="ad-headline" uk-slideshow-parallax="x: 200,0,0"> <b> {{ 'infra2.title' |
                              translate}}
                            </b>
                          </h2>

                        </div>

                        <div class="uk-margin-small-top">
                          <a target="_blank" href="https://clouds2africa.com" class="uk-text-decoration-none  ">
                            <button class="cta-button ">
                              {{ 'saiba.mais' | translate }}
                            </button>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>


                </div>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                  uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                  uk-slideshow-item="next"></a>

                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>


              </div>
            </div>


          </div>
        </div>

      </div>


      <div>



      </div>


    </div>

  </div>


  <div class=" uk-margin-large-bottom  uk-margin-medium-top uk-text-center ">
    <div class="uk-container  ">



      <div class=" uk-text-center ">


        <!-- 1. The Styled Tab Navigation Controls -->
        <div class="tab-nav-wrapper uk-margin-medium-top">
          <ul class="custom-tech-tabs uk-flex-center"
            uk-switcher="connect: #slider-switcher; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li><a href="#">{{ 'wholesale.solutions' | translate }}</a></li>
            <li><a href="#">{{ 'corporate.solutions' | translate }}</a></li>
            <li><a href="#">{{ 'ict.solutions' | translate }}</a></li>
          </ul>
        </div>

        <!-- 2. The Switcher Content Containers -->
        <ul id="slider-switcher" class="uk-switcher uk-margin">

          <!-- TAB 1: Contains your original slider -->
          <li>
            <div class="uk-text-center">
              <div
                class="slider-container uk-position-relative uk-margin-medium-top uk-margin-medium-bottom uk-visible-toggle uk-light"
                tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: false">

                <div class="uk-slider-items uk-child-width-1-1@s uk-child-width-1-4@m uk-grid uk-margin-large-bottom">

                  <!-- Item 1 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/banner-iptransit-fix-2.jpg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"ipt" | translate }}
                        </p>
                        <p class="service-desc  "> {{'ipt.desc' | translate}} </p>
                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/iptransit.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"iplc" | translate }}
                        </p>
                        <p class="service-desc"> {{'iplc.desc' | translate}} </p>

                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 3 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/peering.jpg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"remote.peering" | translate }}
                        </p>
                        <p class="service-desc"> {{'remote-peering.desc' | translate}} </p>

                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 4 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/datacenter.jpeg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"gdi" | translate }}
                        </p>
                        <p class="service-desc"> {{'gdi.desc' | translate}} </p>

                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Navigation Arrows -->
                <a style="color: white !important;"
                  class="uk-position-center-left-out uk-position-small uk-hidden-hover" href uk-slidenav-previous
                  uk-slider-item="previous"></a>
                <a style="color: white !important;"
                  class="uk-position-center-right-out uk-position-small uk-hidden-hover" href uk-slidenav-next
                  uk-slider-item="next"></a>

              </div>
            </div>
          </li>

          <!-- TAB 2: Left completely empty -->

          <li>
            <div class="uk-text-center">
              <div
                class="slider-container uk-position-relative uk-margin-medium-top uk-margin-medium-bottom uk-visible-toggle uk-light"
                tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: false">

                <div class="uk-slider-items uk-child-width-1-1@s uk-child-width-1-4@m uk-grid uk-margin-large-bottom">

                  <!-- Item 1 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/dia.jpg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"dia" | translate }}
                        </p>
                        <p class="service-desc  "> {{'dia.desc' | translate}} </p>
                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/virtualizacao.jpeg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"mpls" | translate }}
                        </p>
                        <p class="service-desc"> {{'mpls.desc' | translate}} </p>

                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 3 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/banner-cloud-2.jpg" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"acloud" | translate }}
                        </p>

                        <p class="service-desc"> {{'acloud.desc' | translate}} </p>

                        <a target="_blank" href="https://angolacables.rds.land/conectividade_ac">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 4 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/datacenter-1.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"data-center" | translate }}
                        </p>
                        <p class="service-desc"> {{'data-center.desc' | translate}} </p>

                        <a routerLink="/datacenter">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Navigation Arrows -->
                <a style="color: white !important;"
                  class="uk-position-center-left-out uk-position-small uk-hidden-hover" href uk-slidenav-previous
                  uk-slider-item="previous"></a>
                <a style="color: white !important;"
                  class="uk-position-center-right-out uk-position-small uk-hidden-hover" href uk-slidenav-next
                  uk-slider-item="next"></a>

              </div>
            </div>

          </li>



          <li>
            <div class="uk-text-center">
              <div
                class="slider-container uk-position-relative uk-margin-medium-top uk-margin-medium-bottom uk-visible-toggle uk-light"
                tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: false">

                <div class="uk-slider-items uk-child-width-1-1@s uk-child-width-1-4@m  uk-grid uk-margin-large-bottom">

                  <!-- Item 1 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/clouds2africa-b.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"cloud" | translate }}
                        </p>
                        <p class="service-desc  "> {{'ipt.desc' | translate}} </p>
                        <a target="_blank" href="https://clouds2africa.com">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/host2africa-b.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"web-hosting" | translate }}
                        </p>
                        <p class="service-desc"> {{'iplc.desc' | translate}} </p>

                        <a target="_blank" href="https://kubernetes.clouds2africa.com">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 3 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/servicos/kubernetes.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"kubernetes" | translate }}
                        </p>
                        <p class="service-desc"> {{'remote-peering.desc' | translate}} </p>

                        <a target="_blank" href="https://kubernetes.clouds2africa.com/">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Item 4 -->
                  <div>
                    <div
                      class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                      data-src="img/go4ai.png" uk-img>
                      <div class="uk-padding gradiente-nome-equipa uk-border-rounded uk-text-left">

                        <p class="service-title uk-margin-small-bottom">
                          {{"ai" | translate }}
                        </p>
                        <p class="service-desc"> {{'ai.desc' | translate}} </p>

                        <a target="_blank" href="http://go4ai.io/">
                          <p class=" service-badge uk-margin-small-top uk-margin-small-bottom ">
                            {{'saber.mais' | translate}} <span class="uk-margin-small-right"
                              uk-icon="arrow-right"></span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Navigation Arrows -->
                <a style="color: white !important;"
                  class="uk-position-center-left-out uk-position-small uk-hidden-hover" href uk-slidenav-previous
                  uk-slider-item="previous"></a>
                <a style="color: white !important;"
                  class="uk-position-center-right-out uk-position-small uk-hidden-hover" href uk-slidenav-next
                  uk-slider-item="next"></a>

              </div>
            </div>
          </li>


        </ul>
        <!-- 
        <div class="">
          <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <p class="uk-text-center uk-container angola-cables-texto "><span class="angola-cables-titulo "
                style="color:#28C1FD ; font-size: 1.55rem;  ">Angola Cables</span> {{ 'ac.descricao' | translate
              }}</p>
          </div>
        </div>

-->

      </div>
    </div>

  </div>

</div>