<div class="uk-margin-medium-bottom uk-margin-large-top">
  <p style="font-weight: 900; font-size:35px; color: rgba(0, 0, 38, 1) " class="uk-text-center texto-div">
    {{ 'nossas_certificacoes' | translate }}
  </p>
</div>

<div class="fundo-selos uk-container">
  <div class="uk-flex uk-flex-center uk-flex-wrap">
        <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso20000.png" alt="" /> </a>

    <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso27701.png" alt="" /> </a>
    <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso27018.png" alt="" /> </a>
    <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso27001.png" alt="" />
    </a>
        <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso37001.png" alt="" /> </a>

    <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/iso9001.png" alt="" /> </a>
    <a routerLink="/trust-center"> <img style="height: 150px; display: block;" src="img/iso/soc2.png" alt="" /> </a>
  </div>
</div>

<div class="uk-text-center uk-margin-small-top">
  <a routerLink="/trust-center" class="uk-button botao-azul  uk-button-large "
   >
    {{ 'trust-center' | translate }}
  </a>

</div>
