/* You can add global styles to this file, and also import other style files */
body, a, p, h1, h2, h3, h4, li, ul {
  
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
 margin: 0 !important;
    padding: 0;
}   


.border {
    border-radius: 30px;
}

.border-2 {
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.uk-button{
    text-transform: none;
    padding: 8px;
}

.post-content {
  img {
    max-width: 100%;
    height: auto;
  }
}

.uk-link-reset {
  text-transform: none;
}



.whatsapp  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #25D366;
  color: white;
  padding: 20px;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  height: 30px;
  width: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.whatsapp-button :hover{
  background-color: #1a9347 !important;
  color: white !important;


}