.fundo-telcables{

    background-color:#151350;
    border-radius: 20px;
}


.logo-image{
    height: 55px;
    width: auto;
}

.logo-image-2{
    height: 100px;
    width: auto;
}

.logo-image,
.logo-image-2 {
  max-height: 120px;
  width: auto;
}